.toggle-btn {
    display: inline-block;
    padding: 3px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b37a72;
    border: none;
    border-radius: 10px;
    box-shadow: 0 7px #999;
}
.toggle-btn:hover {background-color: #9b7b77}
.toggle-btn:active {
    background-color: #9b7b77;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.app {
    background: url('got.jpg') center center no-repeat;
    background-size: cover;
    font-size: 16px;
    height: 1000px;
}